/*@font-face{
  font-family: Vazir;
  src: url('../fonts/Vazirmatn-Regular.woff2');
}
@font-face{
  font-family: Vazir;
  font-weight: bold;
  src: url('../fonts/Vazirmatn-Bold.woff2');
}*/
/*@font-face{
  font-family: Samim;
  src: url('../fonts/Samim-FD-WOL.woff2');
}*/
a{
  text-decoration: none;
}
a:hover,a:focus{
  color: none !important;
}
html{
  direction: rtl !important;
}
body{
  font-family: Samim;
}
.datepicker-plot-area{
  font-family: Samim;
}